version: '3.1'

services:
  mongo:
    image: mongo
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - ./db:/usr/local/db
    working_dir: /usr/local/db

  mongo-express:
    image: mongo-express
    ports:
      - 127.0.0.1:8088:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: password

  server:
    build: './server'
    volumes:
      - './server:/home/node/app'
    working_dir: '/home/node/app'
    environment:
      MONGO_USER: root
      MONGO_PASS: password
      MONGO_DBNAME: db
      JWT_SECRET: secret
    command: 'npm start'
    ports:
      - 127.0.0.1:3000:3000
    depends_on:
      - mongo
      - mongo-express

  client:
    build: './client'
    volumes:
      - './client:/home/node/app'
    working_dir: '/home/node/app'
    depends_on:
      - mongo
      - mongo-express
